<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/prism-ide.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-rust.min.js"></script>
    <link rel="stylesheet" href="/style/style-ide.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    {% block header %} {% endblock %}
    <title> {% block title %} Llyw {% endblock %} </title>
</head>

<body>
    <div id='content'>
        {% block content %} {% endblock %}
        <div id='footer'>
            <a type="application/atom+xml" rel="alternate" href="{% block feed %}/feed.xml{% endblock %}"><img
                    src="/assets/rss-feed.svg" alt="Atom Feed"></a>
        </div>
    </div>
</body>

</html>