{% extends "base.html" %}

{% block title %} {{ page.title }} {% endblock title %}

{% block content %}
<div id='header'>
    <a href="/">posts</a>
</div>

<h1 class="title">
  {{ page.title }}
</h1>

<div><em>
{% if page.taxonomies.cat %}
    Category:
    {% for cat in page.taxonomies.cat %}
        <a href="{{ get_taxonomy_url(kind="cat", name=cat) | safe }}">{{ cat }}</a></li>{% if not loop.last %},{% endif %}
    {% endfor %}
    |
{% endif %}

{% if page.taxonomies.tags %}
    Tags:
    {% for tag in page.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></li>{% if not loop.last %},{% endif %}
    {% endfor %}
    |
{% endif %}
{{ page.date }}{% if page.updated %}, updated: {{ page.updated }}{% endif %}
</em></div>

{{ page.content | safe }}
{% endblock content %}
