{% extends "base.html" %}

{% block title %} {{title}} {% endblock title %}

{% block content %}

<header>
  <b>{% if tag_path.len() > 0 %}<a href="/">posts</a>{% else %}posts{% endif %}</b>
  | <a href="/tags/">tags</a>
  | <a href="/links/">misc. links</a>
  | <a href="/rl/">play rust-rl here</a>
</header>

<h1 class="title">
  {{title}}
</h1>
<ul>
  {% for post in posts %}
  <li style="margin-bottom:4px">
    <a class="title" href="/{{ post.slug|e }}/">{{ post.title }}</a>
    {% if post.desc != "" %}<div class="desc">{{post.desc }}</div>{% endif %}
    <div class="date">{{ post.date }}{% if post.updated != "" %} | <b>updated:</b> {{ post.updated }}
      {% endif %} | </a> {% for tag in post.tags %}<a class="tag" href="/tags/{{tag}}/">{{ tag
        }}</a>{% if !loop.last %}, {% endif %}&nbsp;{% endfor %}</div>
    <hr>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
{% block feed %}feed.xml{% endblock %}