{% extends "base.html" %}

{% block title %} Llyw - posts {% endblock title %}

{% block content %}
<header>
    <b><a href="/">posts</a></b>
    | <a href="/tags/">tags</a>
    | <a href="/links/">misc. links</a>
    | <a href="/rl/">play rust-rl here</a>
</header>

<h1 class="title">{{title}}</h1>

<div class="post-tags">
    {% if tags.len() > 0 %}
    {% for tag in tags %}<a href="/tags/{{tag}}/">{{ tag }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
    | {% endif %}{{ date }}{% if updated != "" %} | <b>updated:</b> {{ updated }}
    {% endif %}
</div>

{{ content|e("none") }}

{% endblock content %}