{% extends "base.html" %}

{% block title %} Llyw - posts {% endblock title %}

{% block content %}
<header>
    <b><a href="/">posts</a></b>
    | <a href="/tags/">tags</a>
    | <a href="/links/">misc. links</a>
    | <a href="/rl/">play rust-rl here</a>
</header>

<h1 class="title">{{title}}</h1>

<div class="post-tags">
    {% if tags.len() > 0 %}
    {% for tag in tags %}<a href="/tags/{{tag}}/">{{ tag }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
    | {% endif %}{{ date }}{% if updated != "" %} | <b>updated:</b> {{ updated }}
    {% endif %}
</div>

{{ content|e("none") }}

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        var href = window.location.href;
        this.page.url = href;
        this.page.identifier = href;
    };
    (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://llyw-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
        by Disqus.</a></noscript>
{% endblock content %}